.App {
  text-align: center;
}

.App-logo {
  height: 45px;
  margin-bottom: 5px;
  color: black;
}

.App-header {
  height: 60px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: flex;
  position: relative;
  z-index: 1000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.App-header h2 {
  color: black;
  font-weight: bold;
  margin: 0;
}

.map-wrapper {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
}

.pm-logo {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: calc(50% - 50px);
}

.sm-logo {
  display: inline-block;
  height: 30px;
  position: relative;
  top: 2px;
  right: calc(50vw - 48px);
  margin-left: 2px;
  cursor: pointer;
}

.theme-light {
  background-color: #ffb74d
}

.theme-main {
  background-color: #ff9800
}

.theme-dark {
  background-color: #e65100
}
